<template>
  <div>
      <el-button @click="dialogVisiable = true">Добавить новый объект</el-button>
      <br>
      <!-- Form -->
      <el-dialog title="Добавление объекта" :visible.sync="dialogVisiable">
        <el-form :model="form">
            <!-- <el-form-item label="Promotion name" :label-width="formLabelWidth">
            <el-input v-model="form.name" autocomplete="off"></el-input>
            </el-form-item> -->
            <el-form-item label="Ценная бумага" label-width="formLabelWidth">
            <el-select v-model="form.floaterId" placeholder="Инструмент">
                <el-option v-for="floater of floaters" :key="floater.id" :label="floater.title" :value="floater.id"></el-option>
            </el-select>
            </el-form-item>

            <el-form-item label="Цена" label-width="formLabelWidth">
                <el-input-number v-model="form.price" :min="1"></el-input-number>
            </el-form-item>

            <el-form-item label="Дата" label-width="formLabelWidth">
                <el-date-picker
                    v-model="form.date"
                    type="date"
                    placeholder="Выберите дату">
                </el-date-picker>
            </el-form-item>

        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisiable = false">Отмена</el-button>
            <el-button type="primary" @click="addObject">Добавить</el-button>
        </span>
    </el-dialog>

    
  </div>
</template>

<script>
import * as grpcWeb from 'grpc-web';
import {CommonClient} from "@/protobuf/EgarService_grpc_web_pb";
import {ImmutableFloater} from "@/protobuf/Floater_pb";
import {MutableObject} from "@/protobuf/Object_pb";
import {Empty} from "google-protobuf/google/protobuf/empty_pb";
import {Timestamp} from "google-protobuf/google/protobuf/timestamp_pb";

import {eventBus} from "@/main";

export default {
    beforeMount() {
        this.getAllFloaters();
    },
    props: {
        apiClient: {
            type: CommonClient,
            required: true
        }
    },
    data() {
        return {
            form: {
                floaterId: 1,
                price: 100,
                date: new Date()
            },
            floaters: [],
            dialogVisiable: false
        }
    },
    methods: {
        getAllFloaters() {
            var stream = this.apiClient.getAllFloaters(new Empty());
            var arr = [];

            stream.on("data", function(e){
                var floater = {id: e.getId(), title: e.getTitle()};
                arr.push(floater);
            });

            function onEndCallback(end) {
                this.floaters = arr;
                console.log(this.floaters);
                //onsole.log(arr);
            }

            stream.on("end", onEndCallback.bind(this))
        },
        addObject() {
            //creating object
            var floater = new ImmutableFloater();
            floater.setId(this.form.floaterId);
            console.log(this.form.floaterId);
            var fid = this.floaters.filter(f => f.id == this.form.floaterId);
            var title = fid[0].title;
            
            floater.setTitle(title)

            var object = new MutableObject();
            object.setFloater(floater);
            object.setPrice(this.form.price);
 
            var date = new Date(this.form.date)

            var timestamp = new Timestamp();
            var temp = new Date(this.form.date);

            timestamp.setSeconds(Math.floor(temp/1000));
            timestamp.setNanos((temp % 1000) * 1000);

            //timestamp.fromDate(temp);

            //return;

            object.setDate(timestamp);

            this.apiClient.addObject(object, null, (err, res) => {
                if(err) {
                    this.$notify.error({
                        title: 'Ошибка',
                        message: err.message
                    });
                } else {
                    this.$notify({
                        title: 'Успешно',
                        message: 'Запись успешно добавлена!',
                        type: 'success'
                    });

                    this.$emit("on-object-edded", res);
                    this.updateChart(res.getFloater().getId());
                }
            });
            
            this.dialogVisiable = false;
        },
        updateChart(floaterId) {
            eventBus.$emit("update-chart", floaterId);
        }
    }
}
</script>

<style>

</style>