<template>
  <div class="container">
    <center>
        <el-select v-model="selectorFloaterId" @change="getObjectsByFloater" placeholder="Выбрать">
            <el-option
                v-for="item in floaters"
                :key="item.id"
                :label="item.title"
                :value="item.id">
            </el-option>
        </el-select>
        <line-chart :chart-data="datacollection"></line-chart>
    </center>
  </div>
</template>

<script>
import LineChart from '@/LineChart.js'
import { mixins } from 'vue-chartjs'

import * as grpcWeb from 'grpc-web';
import {CommonClient} from "@/protobuf/EgarService_grpc_web_pb";
import {ImmutableFloater} from "@/protobuf/Floater_pb";
import {Empty} from "google-protobuf/google/protobuf/empty_pb";
import {Timestamp} from "google-protobuf/google/protobuf/timestamp_pb";
import {Int64Value} from "google-protobuf/google/protobuf/type_pb";

import {eventBus} from "@/main";

export default {
  components: { LineChart },
  props: {
    apiClient: {
      type: CommonClient,
      required: true
    }
  },
  data: () => ({
    floaters: [],
    selectorFloaterId: 1,
    datacollection: null,
    // options: {
    //   responsive: true,
    //   maintainAspectRatio: false
    // }
  }),
  mounted () {
    this.getAllFloaters();
    this.getObjectsByFloater();
    
  },
  created() {
    eventBus.$on("update-chart", fId => {
      if(fId != this.selectorFloaterId)
        return;

      this.getObjectsByFloater();
    });
  },
  methods: {
    getAllFloaters() {
            var stream = this.apiClient.getAllFloaters(new Empty());
            var arr = [];

            stream.on("data", function(e){
                var floater = {id: e.getId(), title: e.getTitle()};
                arr.push(floater);
            });

            function onEndCallback(end) {
                this.floaters = arr;
                console.log(this.floaters);
                //onsole.log(arr);
            }

            stream.on("end", onEndCallback.bind(this));
        },
    getObjectsByFloater() {
      var val = new Int64Value();
      val.setValue(this.selectorFloaterId);

      var arr = [];

      var stream = this.apiClient.getObjectsByFloaterId(val);
      
      stream.on("data", function(data) {
          var floater = {id: data.getFloater().getId(), title: data.getFloater().getTitle()}
          var timestamp = new Timestamp();
          var dateTimestamp = data.getDate().toDate();
          var date = dateTimestamp.getDate() + "." + (dateTimestamp.getMonth() + 1) + "." + dateTimestamp.getFullYear();

          var obj = {id: data.getId(), floater: floater, price: data.getPrice(), date: date};

          arr.push(obj);
      }); 

      function onEnd(end) {
        if(arr.length < 1) {
          this.$message({
            message: 'Нет данных для обновления.',
            type: 'warning'
          });
          return;
        }
        
        this.fillData(arr);
      }

      stream.on("end", onEnd.bind(this));
      
    },
    fillData (array) {
        var lable = array[0].floater.title;
        var dates = [];
        var prices = [];

        array.forEach( obj => {
            dates.push(obj.date);
            prices.push(obj.price);
        });

        this.datacollection = {
          labels: dates,
          datasets: [
            {
              label: lable,
              backgroundColor: '#2bc1fc',
              data: prices
            }
          ]
        }
      }
  },
}
</script>

<style>
  .container {
    position:relative;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
</style>