<template>
  <div>
      <AddObjectDialog v-on:on-object-edded="addElement($event)" v-bind:apiClient="apiClient"/>

      <center>
          <el-table :data="table" style="width: 80%" >
                <el-table-column prop="date" label="Дата">
                    <template slot-scope="scope">
                        <el-date-picker
                            v-model="scope.row.date"
                            type="date"
                            placeholder="Pick a day">
                        </el-date-picker>
                    </template>
                </el-table-column>
                <el-table-column prop="floater" label="Ценная бумага" >
                        <template slot-scope="scope">
                            <el-select v-model="scope.row.floater.id" placeholder="Выбрать">
                            <el-option
                                v-for="item in floaters"
                                :key="item.id"
                                :label="item.title"
                                :value="item.id">
                            </el-option>
                        </el-select>
                        </template>
                </el-table-column>
                <el-table-column prop="price" label="Цена" >
                    <template slot-scope="scope">
                        <el-input size="small"
                            style="text-align:center"
                            v-model="scope.row.price"></el-input>
                    </template>
                </el-table-column>
                <el-table-column
                    label="Операции">
                    <template slot-scope="scope">
                        <el-button
                        size="mini"
                        @click="handleEdit(scope.$index, scope.row)">Изменить</el-button>
                        <el-button
                        size="mini"
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">Удалить</el-button>
                    </template>
                </el-table-column>
          </el-table>
     </center>
  </div>
</template>

<script>
import * as grpcWeb from 'grpc-web';
import {CommonClient} from "@/protobuf/EgarService_grpc_web_pb";
import {MutableFloater, ImmutableFloater} from "@/protobuf/Floater_pb";
import {MutableObject, ImmutableObject} from "@/protobuf/Object_pb";
import {Empty} from "google-protobuf/google/protobuf/empty_pb";
import {Timestamp} from "google-protobuf/google/protobuf/timestamp_pb";
import {Int64Value} from "google-protobuf/google/protobuf/type_pb";
import {UpdateObjectQuery} from "@/protobuf/EgarService_pb";

import AddObjectDialog from "@/components/AddObjectDialog";

import {eventBus} from "@/main";

export default {
    beforeMount() {
        this.getAllObject();
        this.getAllFloaters();
    },
    props: {
        apiClient: {
            type: CommonClient,
            required: true
        }
    },
    components: {
        AddObjectDialog
    },
    data() {
        return {
            table: [],
            floaters: []
        }
    },
    methods: {
        getAllObject() {
            var stream = this.apiClient.getAllObjects(new Empty());
            var arr = [];

            stream.on("data", function(proto) {
                var floater = {id: proto.getFloater().getId(), title: proto.getFloater().getTitle()}
                var timestamp = new Timestamp();
                var dateTimestamp = proto.getDate().toDate();
                var date = dateTimestamp.getTime();

                console.log(date);

                var obj = {id: proto.getId(), floater: floater, price: proto.getPrice(), date: date};

                arr.push(obj);
                this.table = arr;
                
            });

            function end(end){
                this.table = arr;
            }

            stream.on("end", end.bind(this));
        },
        addElement(proto) {
            var floater = {id: proto.getFloater().getId(), title: proto.getFloater().getTitle()}
            var timestamp = new Timestamp();
            var dateTimestamp = proto.getDate().toDate();
            var date = dateTimestamp.getDate() + "." + (dateTimestamp.getMonth() + 1) + "." + dateTimestamp.getFullYear();

            var obj = {id: proto.getId(), floater: floater, price: proto.getPrice(), date: date};

            this.table.push(obj);
        },
        handleEdit(id, obj) {
            var newObj = new UpdateObjectQuery();

            newObj.setId(obj.id);
            newObj.setFloaterid(obj.floater.id);
            newObj.setPrice(obj.price);
       
            var timestamp = new Timestamp();

            timestamp.setSeconds(Math.floor(obj.date/1000));
            timestamp.setNanos((obj.date % 1000) * 1000);

            newObj.setDate(timestamp);

            this.apiClient.updateObject(newObj, null, (err, res) => {
                if(err) {
                    this.$notify.error({
                        title: 'Ошибка при обновлении',
                        message: err.message
                    });
                } else {
                    this.$notify({
                        title: 'Успешно',
                        message: 'Запись успешна изменина!',
                        type: 'success'
                    });

                    this.updateChart(obj.floater.id);
                }
            });
        }, 
        handleDelete(id, obj) {
            var val = new Int64Value();
            val.setValue(obj.id);

            this.apiClient.removeObject(val, null, (err, res) => {
                if(err) {
                    this.$notify.error({
                        title: 'Ошибка при удалении',
                        message: err.message
                    });
                } else {
                    this.$notify({
                        title: 'Успешно',
                        message: 'Запись успешна удалена!',
                        type: 'success'
                    });

                    var index = this.table.indexOf(obj);
                    this.table.splice(index, 1);

                    this.updateChart(obj.floater.id);
                }
            });
        },
        getAllFloaters() {
            var stream = this.apiClient.getAllFloaters(new Empty());
            var arr = [];

            stream.on("data", function(e){
                var floater = {id: e.getId(), title: e.getTitle()};
                arr.push(floater);
            });

            function onEndCallback(end) {
                this.floaters = arr;
                console.log(this.floaters);
                //onsole.log(arr);
            }

            stream.on("end", onEndCallback.bind(this))
        },
        updateChart(floaterId) {
            eventBus.$emit("update-chart", floaterId);
        }
    },
}
</script>

<style>

</style>