<template>
  <div id="app">
    <ObjectLineChart v-bind:apiClient="apiClient"/>
    <br>

    <hr>

    <br>
    <ObjectTable v-bind:apiClient="apiClient"/>
  </div>
</template>

<script>
import * as grpcWeb from 'grpc-web';
import {CommonClient} from "./protobuf/EgarService_grpc_web_pb";

import ObjectTable from "@/components/ObjectTable"
import ObjectLineChart from "@/components/ObjectLineChart"

export default {
  name: 'App',
  computed: {
    apiClient: function() {
      return new CommonClient("http://localhost:8081", null, null);
    }
  },
  components: {
    ObjectTable,
    ObjectLineChart
  },
  data() {
    return {
      
    }
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>